---
import Practice from "../components/PracticeCard.astro";
import "katex/dist/katex.min.css"
import "../styles/global.css";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Multiplication</title>
    </head>
    <body class="flex flex-col items-center bg-gray-950 text-gray-100">
        <div class="w-[90%] lg:w-[50%] mt-[2%] py-4 px-[2.5%] bg-gray-900/75 border border-gray-800">
			<Practice />
		</div>
    </body>
</html>